*{
    margin: 0;
    padding: 0; 
}
/* primary btn */
.primary_btn {
    background: linear-gradient(to bottom, #B564F7, #6A2F9B);
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

  }
.accent_btn{
    
        border-radius: 20px;
        padding: 6px 14px;
        color: #A657E7;
        background-color: #ffff;
        border: 1px solid #A657E7;
}
/* navbar styling start here */
#navbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header{
    background-color: #ffff;
    box-shadow: 2px 2px  0.5px rgba(185, 180, 180, 0.3);  
}

#nav_options{
    display: flex;
    gap: 10px;
    color: #344054;
}
#login_btn{
    box-sizing: border-box;
    border-radius: 20px;
    padding: 7px 15px;
    color: black;
    background-color: #ffff;
    border: 1px solid gray;
}
#login_container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
#menu{
    background-color: #ffff;
    border: none;

}
.hidden{
    display: none;
}
#menu_container{
    position: absolute;
    top: 30px;
    left: 80px;
    padding: 20px;
    z-index: 1;
    background-color: rgba(78, 76, 76, 0.5);
    border-radius: 10px; 
    
}
/* navbar styling end  here */


/* banner styling start here */
#banner{
    max-width: 1200px;
    display: flex;
    margin: auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.banner_short_title{
    display: flex;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
    color: gray;
    background-color: #ffff;
    box-shadow: 2px 2px  0.5px rgba(185, 180, 180, 0.3);
}
#banner_title{
    font-size: 26px;
    margin:  5px 0px;
}
#stylish_heading {
    font-weight: bold;
    background: linear-gradient(
      to right,
      #2B034D,
      #B564F7,
      #2B034D,
      #EF90FF
    ); 
    background-clip: text;
    color: transparent;


  }
.play_btn{
    position:absolute;
    bottom: 100px;
    left: 105px;
    padding: 7px;
    border-radius: 70%;
    backdrop-filter: blur(8px);
}
.img_card{
    position: relative;
}
#banner_img_side{
    display: flex;
    align-items: center;
    gap: 10px;
}
#social_container{
   display: flex;
   justify-content: start;
padding: 20px 40px;


}
#social_container_logo{
    display: flex;
    gap: 10px;
}
/* banner styling end here */

/* stats styling start here */
#stat_container{
    max-width: 1200px;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.stat_flex{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.gradient-left-border {
    position: relative;
    padding: 20px 20px 20px 30px;
    font-size: 20px;
  }  
  .gradient-left-border::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 2px; 
    height: 70%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.44%, rgba(102, 102, 102, 0) 100%);
  }
  /* stats styling end here */
  
/*  pricing section style start here */

/* business  videos card  style start here*/
#card_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px; 
    margin: 50px 0px;
}
.videosTitle{
    font-size: 48px; 
    display: flex;  
    flex-wrap: wrap; 
    align-items: center; 
    gap: 5px;
}
/* 
feedback section start here
*/
#feedback_container{
    display: grid;
    padding: 10px;
    gap: 20px;
}
.feedback_card{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.4);

}

#row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#row2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* why short video section style start here */
#section_container{
    width: fit-content;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: auto;
    align-items: center;
}





/* footer design start here */
.footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 30px 0 0 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    padding: 0 15px;
    margin-bottom: 30px;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

.footer-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.btn-login {
    padding: 8px 16px;
    background: none;
    border: 1px solid #ddd;
    border-radius: 20px;
  
}




.footer h3 {
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;
}


.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #a64eee;
}

/* Contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 80px;
    resize: none;
}

.btn-submit {
    padding: 8px 16px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
     width: 100%;
    align-self: flex-end;
}

.footer-bottom {
    border-top: 1px solid #eee;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.copyright {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.faq-container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;

}


.faq-header {
    text-align: center;
    margin-bottom: 30px;
}

.faq-header h2 {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 700;
}



.faq-header p {
    color: #666;
    line-height: 1.6;
    margin: 0 auto;
}


.accordion {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.accordion-item {
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: white;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    cursor: pointer;
 
}

.accordion-header h3 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  
}

.toggle-icon img {
    width: 16px;
    height: 16px;
    opacity: 0.6;
}

.active .toggle-icon {
    transform: rotate(180deg);
}

.accordion-content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
   
}

.accordion-content p {
    color: #666;
    line-height: 1.6;
    padding-bottom: 20px;
}

.active .accordion-content {
    max-height: 200px;
}


@media only screen and (max-width: 576px) {
    #menu{
        display: inline;
    }
    #nav_options{
        display: none;
    }
    #banner{
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        align-items: start;
      
    }
    #banner_img_side{
        display: block;
        align-items: center;
        gap: 10px;
    }
    #card_container{
        grid-template-columns: repeat(1, 1fr); 
        justify-items: center;
        gap: 20px;
    }
    .videosTitle{
        justify-content: center;
    }
    #row1,#row2{
        grid-template-columns:repeat(1,1fr) ;
    }
    #section_container{
        flex-direction: column;
        padding: 5px;
    }
    .faq-container {
        padding: 20px 15px;
    }
    
    .faq-header h2 {
        font-size: 22px;
    }
    
    .faq-header p {
        font-size: 14px;
    }
    
    .accordion-header h3 {
        font-size: 14px;
    }
    
    .accordion-content p {
        font-size: 14px;
    }

  }
  

  @media only screen and (min-width: 577px) and (max-width: 991px) {
    #menu{
        display: inline;
    }
    #nav_options{
        display: none;
    }

    #banner{
        flex-direction: column;
        gap: 10px;
        gap: 10px;
        align-items: start;
    }
    #card_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center; 
        gap: 20px;
    }
    .videosTitle{
        justify-content: center;
    }
    #row1,#row2{
        grid-template-columns:repeat(2,1fr) ;
    }
    #section_container{
        flex-direction: column;
        padding: 10px;
    }

    .faq-container {
        padding: 25px;
    }
    
    .faq-header h2 {
        font-size: 26px;
    }
    
    .accordion-header {
        padding: 15px;
    }
    
    .accordion-header h3 {
        font-size: 15px;
    }
    
  
  }
  


  